/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter-Light;
    font-size: 16px;
    color: #0165fc;
}
h1{
    font-family: "ZTBOskon90s Light Italic";
    font-size: 5.313rem;
    font-weight: lighter;
}
h1 span{
    font-size: 4rem;
}
h2{
    font-family: "ZTBOskon90s";
    font-size: 1.875rem;
    font-weight: lighter;
}










/* Utility */
.no-italics{
    font-style: normal;
}



/* Navigation */
nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
    background-color: #F0EDE4;
    border-bottom: #0165fc 2px solid;
}
.nav-logo{
    display: block;
}
.nav-logo img{
    width: 6.5rem;
    height: auto;

}
.nav-links{
    display: flex;
    justify-content: space-between;
}
.nav-links a{
    align-items: center;
    display: flex;
    font-family: "Ade Display";
    font-size: 1.5rem;
    padding: 0rem 1rem;
}
.nav-links a:hover{
    /*work on getting the hover state right. This styling is just so VS code doesn't yell at me*/
    color: #F0EDE4;
}
/* Home Page */
.home-hero{
    background:#F0EDE4; /* Change this to be under the section tag instead of each class once everything is done */
}
.name-hero-container{
    display: block;
    height: auto;
    width: 100%;
}
.name-hero-container img{
    max-width: 80rem;
    height: auto;
    margin: 5rem 3rem 3rem 3rem;
}
.hero-subhead{
    margin-left: 3rem;
}

/* Project Marquee */
svg{
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: normal;
    fill: #0165FC;
    margin-top: 5rem;
}

svg path {
    fill: transparent;
}
.marquee-container{
}


.projects{
    background:#F0EDE4;
}
.side-projects{
    background:#0165fc;
}
.about{
    background:#F0EDE4;
}
.contact{
    background:#F0EDE4;
}





























/* Font Faces */
/* Ade Display */
@font-face {
    font-family: 'Ade Display';
    src: url(Fonts/AdeDisplay.otf) format("opentype");
}

/* Inter */
@font-face {
    font-family: 'Inter-Light';
    src: url(Fonts/Inter-Light.ttf) format("truetype");
}

/* ZTBros Oskon 90s */
@font-face {
    font-family: 'ZTBOskon90s';
    src: url(Fonts/ZTBrosOskon90s-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'ZTBOskon90s Light Italic';
    src: url(Fonts/ZTBrosOskon90s-LightItalic.otf) format("opentype");
}