/* Universal */
* {
    box-sizing: border-box;
    color: #0165fc;
    font-family: Inter-Light;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0EDE4;
}
h1{
    font-family: "ZTBOskon90s Light Italic";
    font-size: 4rem;
    font-weight: lighter;
}
h1 span{
    font-size: 4rem;
}
h2{
    font-family: "ZTBOskon90s";
    font-size: 1.875rem;
    font-weight: lighter;
}










/* Utility */
.no-italics{
    font-style: normal;
}
.hr-white{
    border: 1px solid #F0EDE4;
}


/* Navigation */
nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    background-color: #F0EDE4;
    border-bottom: #0165fc 2px solid;
}
.nav-logo{
    display: block;
}
.nav-logo img{
    width: 6rem;
    height: auto;

}
.nav-links{
    display: flex;
    justify-content: space-between;
}
.nav-links a{
    align-items: center;
    display: flex;
    font-family: "Ade Display";
    font-size: 1.5rem;
    padding: 0rem 1rem;
}
.nav-links a:hover{
    /*work on getting the hover state right. This styling is just so VS code doesn't yell at me*/
    color: #F0EDE4;
}
/* Home Page */
.name-hero-container{
    display: block;
    height: auto;
    width: 100%;
}
.name-hero-container img{
    max-width: 50rem;
    height: auto;
    margin: 5rem 3rem 3rem 3rem;
}
.hero-subhead{
    margin-left: 3rem;
}

/* Project Marquee */
svg{
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: normal;
    fill: #0165FC;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
svg path {
    fill: transparent;
}
.projects{
    background:#F0EDE4;
}
.project{
    border: 1px solid #0165FC;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 11.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-top: 2rem;
    transition: 300ms ease-in-out;
    width: 80%;
}
.project:hover{
    background-color: black;
    border: 1px solid #DFFF00;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.project:hover p{
    color: #DFFF00;
}
.project img{
    grid-row-end: span 2;
    height: auto;
    justify-self: center;
    width: 11.25rem;
}
/* Hide the hover number by default */
.hover-number {
    display: none;
}

/* When hovering over the container, show the hover number and hide the original number */
.project.clickable-div:hover .hover-number {
    display: block;
}

.project.clickable-div:hover .original-number {
    display: none;
}
.project-name{
    align-self: center;
    display: block;
    font-family: "Ade Display";
    font-size: 3rem;
    grid-column-start: 2;
    grid-column-end: 6;
}
.project-tags{
    display: block;
    font-size: 1.15rem;
    grid-column-start: 2;
    grid-column-end: 6;
}


/* Side Projects */
.side-projects{
    background:#0165FC;
}
.side-projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding-bottom: 3rem;
    width: 85%;
}
.side-project{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0rem 1.75rem 0rem 1.75rem;
}

.side-project h3{
    align-items: center;
    color: #F0EDE4;
    display: flex;
    font-family: "Ade Display";
    font-size: 2.5rem;
}
.side-project p{
    color: #F0EDE4;
}
.tag-container{
    margin-top: 0.5rem;
}
.tag-container div{
    background-color: #F0EDE4;
    border: 1px solid #F0EDE4;
    border-radius: 2rem; 
    /*color: #F0EDE4;*/
    float: left;
    font-family: "ZTBOskon90s";
    font-size: 1.25rem;
    margin: 0.5rem 0.5rem 0rem 0rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}


.about{
    background:#F0EDE4;
}
.contact{
    background:#F0EDE4;
}





























/* Font Faces */
/* Ade Display */
@font-face {
    font-family: 'Ade Display';
    src: url(Fonts/AdeDisplay.otf) format("opentype");
}

/* Inter */
@font-face {
    font-family: 'Inter-Light';
    src: url(Fonts/Inter-Light.ttf) format("truetype");
}

/* ZTBros Oskon 90s */
@font-face {
    font-family: 'ZTBOskon90s';
    src: url(Fonts/ZTBrosOskon90s-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'ZTBOskon90s Light Italic';
    src: url(Fonts/ZTBrosOskon90s-LightItalic.otf) format("opentype");
}
