/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter-Light;
    font-size: 16px;
    color: #0165fc;
}

/* Navigation */
nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
    background-color: #F0EDE4;
    border-bottom: #0165fc 2px solid;
}
.nav-logo{
    display: block;
}
.nav-logo img{
    width: 6.25rem;
    height: auto;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 47%;
}
.nav-links a{
    align-items: center;
    display: flex;
    font-family: "Ade Display";
    font-size: 1.5rem;
    padding: 0rem 1rem;
}
.nav-links a:hover{
    /*work on getting the hover state right. This styling is just so VS code doesn't yell at me*/
    color: #F0EDE4;
}
/* Home Page */
.home-hero{
    background:#F0EDE4; /* Change this to be under the section tag instead of each class once everything is done */
}
.projects{
    background:#F0EDE4;
}
.side-projects{
    background:#0165fc;
}
.about{
    background:#F0EDE4;
}
.contact{
    background:#F0EDE4;
}





























/* Font Faces */
/* Ade Display */
@font-face {
    font-family: 'Ade Display';
    src: url(Fonts/AdeDisplay.otf) format("opentype");
}

/* Inter */
@font-face {
    font-family: 'Inter-Light';
    src: url(Fonts/Inter-Light.ttf) format("truetype");
}